In [3]:
import psycopg2

In [4]:
conn = psycopg2.connect("dbname=covid19 user=jmc678 password=")

In [9]:
sql_query = """
select distinct province_state from time_series_covid19_confirmed;
"""
cur = conn.cursor()
cur.execute(sql_query)
rows = cur.fetchall()

In [10]:
rows

[('Alabama',),
 ('Indiana',),
 ('Minnesota',),
 ('Louisiana',),
 ('South Carolina',),
 ('California',),
 ('New Mexico',),
 ('New Hampshire',),
 ('American Samoa',),
 ('Connecticut',),
 ('Alaska',),
 ('Nevada',),
 ('Oklahoma',),
 ('Idaho',),
 ('Maryland',),
 ('Ohio',),
 ('Delaware',),
 ('Florida',),
 ('Maine',),
 ('Illinois',),
 ('Montana',),
 ('Oregon',),
 ('Rhode Island',),
 ('Texas',),
 ('Mississippi',),
 ('Kansas',),
 ('New Jersey',),
 ('Puerto Rico',),
 ('Wisconsin',),
 ('Pennsylvania',),
 ('Tennessee',),
 ('New York',),
 ('Georgia',),
 ('Diamond Princess',),
 ('Vermont',),
 ('Virgin Islands',),
 ('Colorado',),
 ('Arkansas',),
 ('Hawaii',),
 ('North Dakota',),
 ('Washington',),
 ('Grand Princess',),
 ('Virginia',),
 ('Wyoming',),
 ('West Virginia',),
 ('Missouri',),
 ('Guam',),
 ('Iowa',),
 ('Northern Mariana Islands',),
 ('District of Columbia',),
 ('South Dakota',),
 ('Arizona',),
 ('Utah',),
 ('Kentucky',),
 ('Nebraska',),
 ('North Carolina',),
 ('Massachusetts',),
 ('Michigan',)]

In [5]:
sql_query = """
select date,
        county_name,
        long_county_name,
        province_state as state,
        POP060210 as pop_density,
        population,
        death_count
    from county_data c
        inner join (
            select UID - 84000000 as fips,
                    date,
                    admin2 as county_name,
                    combined_key as long_county_name,
                    province_state,
                    count as death_count,
                    population
            from time_series_covid19_deaths
        ) t
    on c.fips = t.fips;
"""
cur = conn.cursor()
cur.execute(sql_query)
rows = cur.fetchall()

In [6]:
import pandas as pd
df = pd.read_sql_query(sql_query, con=conn)

In [8]:
df.to_csv('/nfs01/covid_county_data.csv')

In [9]:
df.head()

,date,county_name,long_county_name,state,pop_density,population,death_count
0,3/31/20,Autauga,"Autauga, Alabama, US",Alabama,91.8,55869,0
1,3/31/20,Baldwin,"Baldwin, Alabama, US",Alabama,114.6,223234,1
2,3/31/20,Barbour,"Barbour, Alabama, US",Alabama,31.0,24686,0
3,3/31/20,Bibb,"Bibb, Alabama, US",Alabama,36.8,22394,0
4,3/31/20,Blount,"Blount, Alabama, US",Alabama,88.9,57826,0

In [20]:
rows

[('Montgomery',),
 ('Wayne',),
 ('Albany',),
 ('Erie',),
 ('Orleans',),
 ('Orange',),
 ('Onondaga',),
 ('Chautauqua',),
 ('St. Lawrence',),
 ('Genesee',),
 ('Oneida',),
 ('Unassigned',),
 ('Nassau',),
 ('Otsego',),
 ('Warren',),
 ('Columbia',),
 ('Richmond',),
 ('Suffolk',),
 ('Chenango',),
 ('Franklin',),
 ('Kings',),
 ('Cayuga',),
 ('Delaware',),
 ('Ontario',),
 ('Oswego',),
 ('Dutchess',),
 ('Herkimer',),
 ('Saratoga',),
 ('Yates',),
 ('Madison',),
 ('Niagara',),
 ('Schenectady',),
 ('Lewis',),
 ('Fulton',),
 ('Jefferson',),
 ('New York',),
 ('Greene',),
 ('Queens',),
 ('Ulster',),
 ('Washington',),
 ('Cattaraugus',),
 ('Allegany',),
 ('Schoharie',),
 ('Monroe',),
 ('Wyoming',),
 ('Westchester',),
 ('Clinton',),
 ('Steuben',),
 ('Rockland',),
 ('Sullivan',),
 ('Bronx',),
 ('Broome',),
 ('Chemung',),
 ('Hamilton',),
 ('Livingston',),
 ('Putnam',),
 ('Seneca',),
 ('Out of NY',),
 ('Tioga',),
 ('Tompkins',),
 ('Rensselaer',),
 ('Schuyler',),
 ('Cortland',),
 ('Essex',)]

In [14]:
cur.rollback()

AttributeError: 'psycopg2.extensions.cursor' object has no attribute 'rollback'